
<%-include('partials/header.ejs')%>


<main class="main">
    
    
    
    <section class="home section" id="home">

      

        <div class="home__container container grid  hhome">
            <h1 class="section__title-2">
                Mohammed Ejjo 
            </h1>



            <div class="home__perfil">

                <div class="home__image">
                    <img src="/styles/images/luffy.jpg" alt="" class="home__img">
                    <div class="home__shadow"></div>


                    <img src="/styles/images/curved-arrow.svg" alt="" class="home__arrow">
                    <img src="/styles/images/random-lines.svg" alt="" class="home__line">

                    
                    <div class="geometric-box"></div>

                </div>

                <div class="home__social">
                   <a href="/mhmdFB"   class="home__social-link" target="_blank"> <i class="ri-facebook-fill" ></i></a>
                    <a href="/mhmdPIN" class="home__social-link" target="_blank"><i class="ri-pinterest-line"></i></a>
                    <a href="/mhmdIN"  class="home__social-link" target="_blank"><i class="ri-linkedin-line"></i></a>
                </div>

            </div>

            <div class="home__info">
                    <p class="home__description">
                        <b>FrontEnd Developer</b>, with knowledege in Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tenetur sapiente, quasi error sint autem?

                    </p>

                    <a href="#about" class="home__scroll">
                        <div class="home__scroll-box">
                            <i class="ri-arrow-down-line"></i>
                        </div>

                        <span class="home__scroll-text">Scroll Down</span>

                    </a>
            </div>

        </div>
    


    </section>


    <%-include('about.ejs')%>



    <%-include('services.ejs')  %>


    <%-include('projects.ejs')%>

    <%-include('contact.ejs')%>
</main>

<%-include('partials/footer.ejs')%>